/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  font-family: sans-serif;
}

.nav {
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  background-color: #36393B;
  height: auto;
  padding: 0em 1em;
} .nav a{
  color: white;
  text-decoration: none;
} .nav p{
  display: inline-block;
}
.non_game_play {
  background-image: url(background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow-y: scroll;
  height: 78vh;
  padding: 4em 1em;
}
.devise {
  text-align: center;
  vertical-align: middle;
} .devise a{
  color: white;
  text-decoration: none;
}
.game_readout {
  white-space: pre-wrap;
  text-align: center;
}

/*@media screen and (min-width: 1300px) {
  .classname {
    some stuff: sdlkj;
    overflow-y: scroll;
  }
}*/
.banner {
  /*background-color: #dbf1eb;*/
  color: white;
  height: 1.5em;
  width: 100%
  color: white;
  padding-top: .5em;
  padding-bottom: .2em;
  border-style: solid none solid none;
  border-width: 1.5px;
  border-color: #36393B;
}
.game_tile {
  /*background-image: url(board.png);
  background-size: cover;*/
  /*background-color: #dbf1eb;*/
  /*background-color: #F4D4C1;*/
  background-color: #E3D3CC;
  color: #36393B;
  display: inline-block;
  margin: 1%;
  padding: 1em;
  text-align: center;
  border-radius: .5em;
  border-style: solid;
  border-width: 1.5px;
  border-color: #36393B;
  cursor: pointer;
  height: 8em;
  width: 13em;
} .game_tile a {
  text-decoration: none;
  color: inherit;
}
.new_game {
  background-image: none;
  background-color: #65805A;
  height: 2em;
  width: 8em;
}
.wrapper {
  padding: 1em;
}
.opponent_cards > div {
 /*border: 2px solid rgb(233,171,88);
 border-radius: 5px;
 background-color: rgba(233,171,88,.5);
 color: #d9480f;*/
}.opponent_cards {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-gap: 10px;
  grid-template-rows: 80px 80px;
  margin: 10px auto 10px auto;
}

.board > div {
  background-color: black;
  border-radius: 50%;
  margin: .1em;
}
.board .peg {
  background-color: #E50000;
  margin: 0em;
  border: .05em solid darkred;
  box-shadow: 2px 1px 3px -1px rgba(0,0,0,0.6);
} .board .empty {
  background-color: green;
}
.board {
  background-image: url(Board2.png);
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(31, .5em);
  grid-template-rows: .5em .5em .5em .5em .5em;
  grid-gap: .5em;
  padding: .5em;
  width: fit-content;
}
.opponent_track{
  grid-row: 1;
}
.opponent_track2{
  grid-row: 2;
}
.player_track1{
  grid-row: 4;
}
.player_track2{
  grid-row: 5;
}
/*.board .space {
 margin-left: -10px;
 margin-right: 10px
}*/

.player_cards > div {
 /*border: 2px solid rgb(233,171,88);
 border-radius: 5px;
 background-color: rgba(233,171,88,.5);
 color: #d9480f;*/
}.player_cards {
 display: grid;
 grid-template-columns: repeat(6, 1fr);
 grid-gap: auto;
 grid-auto-rows: minmax(100px, auto);
 margin: 10px auto 10px auto;
}

img {
 max-width: 200%;
 max-height: 200%;
}

.opponent_cards .dealt {
 grid-row: 1
}

.player_cards .dealt {
 grid-row: 2;
 z-index: 2;
}

.opponent_cards .played {
 grid-row: 2
}

.player_cards .played {
 grid-row: 1;
 z-index: 1;
}

.one {
 grid-column: 1
}
.two {
 grid-column: 2
}
.three {
 grid-column: 3
}
.four {
 grid-column: 4
}
.five {
 grid-column: 5
}
.six {
 grid-column: 6
}
.hide{
  display: none
}
