/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
     font-size: 20px;
 }
 .unbehaved-element {
     font-size: 2em;
 }
 @media(max-width: 1580px) {
   html {
     font-size: 18px;
   }
   .unbehaved-element {
     font-size: 1.9em; /* Fine tune unbehaved elements */
   }
 }
 @media(max-width: 980px) {
   html {
     font-size: 16px;
   }
 }
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
}

.nav {
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  background-color: #09141D;
  height: auto;
  padding: 0rem 0rem;
  text-align: center;
  font-size: 1.25rem;
} .nav a{
  color: white;
  text-decoration: none;
}
.nav p{
  display: inline-block;
  margin: 0rem;
  font-size: .75rem;
  position: relative;
  left: -50%;

}

.nav_left {
  float: left;
  padding: .5rem .5rem .5rem 1rem;
}
.nav_center {
  display: inline-block;
  padding-top: .5rem;
  // padding-right: 1.5rem;
  position: absolute;
  left: 50%
}
.nav_right {
  float: right;
  white-space: normal;
  padding: .5rem 1rem .5rem .5rem;
}
.non_game_play {
  background-image: image-url("background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow-y: scroll;
  height: 84vh;
  padding: 4rem 1rem;
}
.index_top {
  text-align: center;
  font-size: 1.5rem;
}
.display_button {
  display: flex;
  justify-content: center;
}
.devise {
  text-align: center;
  vertical-align: middle;
} .devise a{
  color: white;
  text-decoration: none;
}
.game_readout {
  white-space: pre-wrap;
  text-align: center;
  color: white;
}

/*@media screen and (min-width: 1300px) {
  .classname {
    some stuff: sdlkj;
    overflow-y: scroll;
  }
}*/
.banner {
  /*background-color: #dbf1eb;*/
  color: white;
  height: 1.5rem;
  width: 100%;
  color: white;
  padding-top: .5rem;
  padding-bottom: .2rem;
  border-style: solid none solid none;
  border-width: 1.5px;
  border-color: #36393B;
}
.game_tile {
  /*background-image: image-url("board.png");
  background-size: cover;*/
  /*background-color: #dbf1eb;*/
  /*background-color: #F4D4C1;*/
  background-color: #E3D3CC;
  color: #36393B;
  display: inline-block;
  margin: 1%;
  padding: 1rem;
  text-align: center;
  border-radius: .5rem;
  border-style: solid;
  border-width: 1.5px;
  border-color: #36393B;
  cursor: pointer;
  height: 8rem;
  width: 13rem;
} .game_tile a {
  text-decoration: none;
  color: inherit;
}
.new_game {
  background-image: none;
  background-color: #65805A;
  height: 2rem;
  width: 8rem;
  display: flex;
  justify-content: center;
}
.wrapper {
  padding: 1rem;
  justify-content: center;
  background-image: image-url("dark_denim_background.png");
  height: 100vh;
}
.opponent_cards > div {
 /*border: 2px solid rgb(233,171,88);
 border-radius: 5px;
 background-color: rgba(233,171,88,.5);
 color: #d9480f;*/
}.opponent_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: auto;
  grid-template-rows: 100px 100px;
  margin: 10px 25%;
}


.player_cards > div {
 /*border: 2px solid rgb(233,171,88);
 border-radius: 5px;
 background-color: rgba(233,171,88,.5);
 color: #d9480f;*/
}.player_cards {
 display: grid;
 grid-template-columns: repeat(6, 1fr);
 grid-gap: auto;
 grid-auto-rows: minmax(100px, auto);
 margin: 10px 25%;
}

img {
 max-width: 200%;
 max-height: 200%;
}
.card {
  border-radius: 7%;
  border: 1px solid #36393B;
}

.opponent_cards .dealt {
 grid-row: 1
}

.player_cards .dealt {
 grid-row: 2;
 z-index: 2;
}

.opponent_cards .played {
 grid-row: 2
}

.player_cards .played {
 grid-row: 1;
 z-index: 1;
}

.one {
 grid-column: 1
}
.two {
 grid-column: 2
}
.three {
 grid-column: 3
}
.four {
 grid-column: 4
}
.five {
 grid-column: 5
}
.six {
 grid-column: 6
}
.hide{
  display: none
}

.board > div {
  background-color: #191a1b;
  border-radius: 50%;
  margin: .1rem;
}
.board .peg {
  background-color: #E50000;
  margin: 0rem;
  border: .05rem solid darkred;
  box-shadow: 2px 1px 3px -1px rgba(0,0,0,0.6);
} .board .empty {
  background-color: green;
}
.board {
  background-image: image-url("Board2.png");
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(31, .65rem);
  grid-template-rows: .65rem .65rem .65rem .65rem .65rem;
  grid-gap: .5rem;
  padding: .5rem;
  width: fit-content;
  margin: auto;
}
.opponent_track{
  grid-row: 1;
}
.opponent_track2{
  grid-row: 2;
}
.player_track1{
  grid-row: 4;
}
.player_track2{
  grid-row: 5;
}
